application/InterfaceClass/InteLinkClass/InterLinkClass/Web References/LevelOne/PegPayTelecomsApi.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://PegPayTelecomsApi/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://PegPayTelecomsApi/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://PegPayTelecomsApi/">
      <s:element name="ValidatePhoneNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VendorCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="signature" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidatePhoneNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidatePhoneNumberResult" type="tns:TelephoneNumberDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TelephoneNumberDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Network" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telephonenumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IsRegistered" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusDescription" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PostTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="trans" type="tns:Transaction" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Transaction">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SessionId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Narration" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddendumData" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DigitalSignature" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FromTelecom" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ToTelecom" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PaymentCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VendorCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PaymentDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telecom" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerRef" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TranAmount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TranCharge" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VendorTranId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ToAccount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FromAccount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TranType" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PostTransactionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostTransactionResult" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Response">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TelecomId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PegPayId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetReversalStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VendorCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="vendorTranId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReversalStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReversalStatusResult" type="tns:TranDetailResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TranDetailResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PegpayId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RecordDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VendorTranId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TranAmount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PaymentDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VendorCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TelecomPosted" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TelecomID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetTransactionDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VendorCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="vendorTranId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTransactionDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTransactionDetailsResult" type="tns:TranDetailResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountBalance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vendorcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountBalanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAccountBalanceResult" type="tns:AccountBalanceResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AccountBalanceResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Balance" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusDesc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusCode" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ValidatePhoneNumberSoapIn">
    <wsdl:part name="parameters" element="tns:ValidatePhoneNumber" />
  </wsdl:message>
  <wsdl:message name="ValidatePhoneNumberSoapOut">
    <wsdl:part name="parameters" element="tns:ValidatePhoneNumberResponse" />
  </wsdl:message>
  <wsdl:message name="PostTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:PostTransaction" />
  </wsdl:message>
  <wsdl:message name="PostTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:PostTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="GetReversalStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetReversalStatus" />
  </wsdl:message>
  <wsdl:message name="GetReversalStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetReversalStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetTransactionDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetTransactionDetails" />
  </wsdl:message>
  <wsdl:message name="GetTransactionDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetTransactionDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAccountBalanceSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccountBalance" />
  </wsdl:message>
  <wsdl:message name="GetAccountBalanceSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccountBalanceResponse" />
  </wsdl:message>
  <wsdl:portType name="PegPayTelecomsApiSoap">
    <wsdl:operation name="ValidatePhoneNumber">
      <wsdl:input message="tns:ValidatePhoneNumberSoapIn" />
      <wsdl:output message="tns:ValidatePhoneNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PostTransaction">
      <wsdl:input message="tns:PostTransactionSoapIn" />
      <wsdl:output message="tns:PostTransactionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReversalStatus">
      <wsdl:input message="tns:GetReversalStatusSoapIn" />
      <wsdl:output message="tns:GetReversalStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTransactionDetails">
      <wsdl:input message="tns:GetTransactionDetailsSoapIn" />
      <wsdl:output message="tns:GetTransactionDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountBalance">
      <wsdl:input message="tns:GetAccountBalanceSoapIn" />
      <wsdl:output message="tns:GetAccountBalanceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PegPayTelecomsApiSoap" type="tns:PegPayTelecomsApiSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidatePhoneNumber">
      <soap:operation soapAction="http://PegPayTelecomsApi/ValidatePhoneNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostTransaction">
      <soap:operation soapAction="http://PegPayTelecomsApi/PostTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReversalStatus">
      <soap:operation soapAction="http://PegPayTelecomsApi/GetReversalStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionDetails">
      <soap:operation soapAction="http://PegPayTelecomsApi/GetTransactionDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountBalance">
      <soap:operation soapAction="http://PegPayTelecomsApi/GetAccountBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PegPayTelecomsApiSoap12" type="tns:PegPayTelecomsApiSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidatePhoneNumber">
      <soap12:operation soapAction="http://PegPayTelecomsApi/ValidatePhoneNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostTransaction">
      <soap12:operation soapAction="http://PegPayTelecomsApi/PostTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReversalStatus">
      <soap12:operation soapAction="http://PegPayTelecomsApi/GetReversalStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionDetails">
      <soap12:operation soapAction="http://PegPayTelecomsApi/GetTransactionDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountBalance">
      <soap12:operation soapAction="http://PegPayTelecomsApi/GetAccountBalance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PegPayTelecomsApi">
    <wsdl:port name="PegPayTelecomsApiSoap" binding="tns:PegPayTelecomsApiSoap">
      <soap:address location="https://localhost:8002/LivePegPayTelecomsApi/PegPayTelecomsApi.asmx" />
    </wsdl:port>
    <wsdl:port name="PegPayTelecomsApiSoap12" binding="tns:PegPayTelecomsApiSoap12">
      <soap12:address location="https://localhost:8002/LivePegPayTelecomsApi/PegPayTelecomsApi.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>