application/Backup/InterfaceClass/InteLinkClass/InterLinkClass/Web References/MessengerApi/Messenger.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://messenger.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://messenger.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://messenger.org/">
      <s:element name="GetBalance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="acct" type="tns:OvaAccount" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="OvaAccount">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Vendor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Balance" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Currency" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SenderId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SpId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Threshold" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetBalanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBalanceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="tns:Email" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Email">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Sender" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="From" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Subject" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Greeeting" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MailAddresses" type="tns:ArrayOfEmailAddress" />
          <s:element minOccurs="0" maxOccurs="1" name="Attachments" type="tns:ArrayOfAttachment" />
          <s:element minOccurs="0" maxOccurs="1" name="Creds" type="tns:Credentials" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfEmailAddress">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EmailAddress" nillable="true" type="tns:EmailAddress" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EmailAddress">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AddressType" type="tns:EmailAddressType" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="EmailAddressType">
        <s:restriction base="s:string">
          <s:enumeration value="To" />
          <s:enumeration value="CarbonCopy" />
          <s:enumeration value="BlindCarbonCopy" />
          <s:enumeration value="From" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfAttachment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Attachment" nillable="true" type="tns:Attachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Attachment">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AttachmentId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="AttachmentName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MimeType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ByteArray" type="s:base64Binary" />
          <s:element minOccurs="1" maxOccurs="1" name="DateCreated" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Credentials">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Host" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Port" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Default" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="PostEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostEmailResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Result">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Reference" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusDesc" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetEmailStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="reference" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmailStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmailStatusResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSMSBroadcast">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="broadcast" type="tns:SmsBroadcast" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SmsBroadcast">
        <s:complexContent mixed="false">
          <s:extension base="tns:Broadcast">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Receivers" type="tns:ArrayOfReceiver" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Broadcast">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="BroadcastId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Subject" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="From" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BroadcastType" type="tns:BroadcastType" />
          <s:element minOccurs="1" maxOccurs="1" name="Hour" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BroadcastDate" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MessageType" type="tns:MessageType" />
          <s:element minOccurs="1" maxOccurs="1" name="Frequency" type="tns:Frequency" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="BroadcastType">
        <s:restriction base="s:string">
          <s:enumeration value="SMS" />
          <s:enumeration value="EMAIL" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="MessageType">
        <s:restriction base="s:string">
          <s:enumeration value="Generic" />
          <s:enumeration value="Personalised" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="Frequency">
        <s:restriction base="s:string">
          <s:enumeration value="NONE" />
          <s:enumeration value="DAILY" />
          <s:enumeration value="WEEKLY" />
          <s:enumeration value="MONTHLY" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfReceiver">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Receiver" nillable="true" type="tns:Receiver" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Receiver">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Variables" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendSMSBroadcastResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendSMSBroadcastResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBroadcastStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="reference" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBroadcastStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBroadcastStatusResult" type="tns:BroadcastStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BroadcastStatus">
        <s:complexContent mixed="false">
          <s:extension base="tns:Broadcast">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="NumberOfReceivers" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Receivers" type="tns:ArrayOfString" />
              <s:element minOccurs="0" maxOccurs="1" name="BroadcastDates" type="tns:ArrayOfString" />
              <s:element minOccurs="0" maxOccurs="1" name="StatusCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="StatusDesc" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddBroadcastReceivers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="receivers" type="tns:ArrayOfReceiver" />
            <s:element minOccurs="0" maxOccurs="1" name="broadcastId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddBroadcastReceiversResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddBroadcastReceiversResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeBroadcastStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="broadcastId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="active" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeBroadcastStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChangeBroadcastStatusResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sms" type="tns:SMS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SMS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VendorTranId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mask" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sent" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sender" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Reference" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendSMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendSMSResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetBalanceSoapIn">
    <wsdl:part name="parameters" element="tns:GetBalance" />
  </wsdl:message>
  <wsdl:message name="GetBalanceSoapOut">
    <wsdl:part name="parameters" element="tns:GetBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="PostEmailSoapIn">
    <wsdl:part name="parameters" element="tns:PostEmail" />
  </wsdl:message>
  <wsdl:message name="PostEmailSoapOut">
    <wsdl:part name="parameters" element="tns:PostEmailResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmailStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmailStatus" />
  </wsdl:message>
  <wsdl:message name="GetEmailStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmailStatusResponse" />
  </wsdl:message>
  <wsdl:message name="SendSMSBroadcastSoapIn">
    <wsdl:part name="parameters" element="tns:SendSMSBroadcast" />
  </wsdl:message>
  <wsdl:message name="SendSMSBroadcastSoapOut">
    <wsdl:part name="parameters" element="tns:SendSMSBroadcastResponse" />
  </wsdl:message>
  <wsdl:message name="GetBroadcastStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetBroadcastStatus" />
  </wsdl:message>
  <wsdl:message name="GetBroadcastStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetBroadcastStatusResponse" />
  </wsdl:message>
  <wsdl:message name="AddBroadcastReceiversSoapIn">
    <wsdl:part name="parameters" element="tns:AddBroadcastReceivers" />
  </wsdl:message>
  <wsdl:message name="AddBroadcastReceiversSoapOut">
    <wsdl:part name="parameters" element="tns:AddBroadcastReceiversResponse" />
  </wsdl:message>
  <wsdl:message name="ChangeBroadcastStatusSoapIn">
    <wsdl:part name="parameters" element="tns:ChangeBroadcastStatus" />
  </wsdl:message>
  <wsdl:message name="ChangeBroadcastStatusSoapOut">
    <wsdl:part name="parameters" element="tns:ChangeBroadcastStatusResponse" />
  </wsdl:message>
  <wsdl:message name="SendSMSSoapIn">
    <wsdl:part name="parameters" element="tns:SendSMS" />
  </wsdl:message>
  <wsdl:message name="SendSMSSoapOut">
    <wsdl:part name="parameters" element="tns:SendSMSResponse" />
  </wsdl:message>
  <wsdl:portType name="MessengerSoap">
    <wsdl:operation name="GetBalance">
      <wsdl:input message="tns:GetBalanceSoapIn" />
      <wsdl:output message="tns:GetBalanceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PostEmail">
      <wsdl:input message="tns:PostEmailSoapIn" />
      <wsdl:output message="tns:PostEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmailStatus">
      <wsdl:input message="tns:GetEmailStatusSoapIn" />
      <wsdl:output message="tns:GetEmailStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSMSBroadcast">
      <wsdl:input message="tns:SendSMSBroadcastSoapIn" />
      <wsdl:output message="tns:SendSMSBroadcastSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBroadcastStatus">
      <wsdl:input message="tns:GetBroadcastStatusSoapIn" />
      <wsdl:output message="tns:GetBroadcastStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddBroadcastReceivers">
      <wsdl:input message="tns:AddBroadcastReceiversSoapIn" />
      <wsdl:output message="tns:AddBroadcastReceiversSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangeBroadcastStatus">
      <wsdl:input message="tns:ChangeBroadcastStatusSoapIn" />
      <wsdl:output message="tns:ChangeBroadcastStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSMS">
      <wsdl:input message="tns:SendSMSSoapIn" />
      <wsdl:output message="tns:SendSMSSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MessengerSoap" type="tns:MessengerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBalance">
      <soap:operation soapAction="http://messenger.org/GetBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostEmail">
      <soap:operation soapAction="http://messenger.org/PostEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmailStatus">
      <soap:operation soapAction="http://messenger.org/GetEmailStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSMSBroadcast">
      <soap:operation soapAction="http://messenger.org/SendSMSBroadcast" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBroadcastStatus">
      <soap:operation soapAction="http://messenger.org/GetBroadcastStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBroadcastReceivers">
      <soap:operation soapAction="http://messenger.org/AddBroadcastReceivers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeBroadcastStatus">
      <soap:operation soapAction="http://messenger.org/ChangeBroadcastStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSMS">
      <soap:operation soapAction="http://messenger.org/SendSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MessengerSoap12" type="tns:MessengerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBalance">
      <soap12:operation soapAction="http://messenger.org/GetBalance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostEmail">
      <soap12:operation soapAction="http://messenger.org/PostEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmailStatus">
      <soap12:operation soapAction="http://messenger.org/GetEmailStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSMSBroadcast">
      <soap12:operation soapAction="http://messenger.org/SendSMSBroadcast" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBroadcastStatus">
      <soap12:operation soapAction="http://messenger.org/GetBroadcastStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBroadcastReceivers">
      <soap12:operation soapAction="http://messenger.org/AddBroadcastReceivers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeBroadcastStatus">
      <soap12:operation soapAction="http://messenger.org/ChangeBroadcastStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSMS">
      <soap12:operation soapAction="http://messenger.org/SendSMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Messenger">
    <wsdl:port name="MessengerSoap" binding="tns:MessengerSoap">
      <soap:address location="http://192.168.55.21:5099/MailApi/Messenger.asmx" />
    </wsdl:port>
    <wsdl:port name="MessengerSoap12" binding="tns:MessengerSoap12">
      <soap12:address location="http://192.168.55.21:5099/MailApi/Messenger.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>