application/Backup/InterfaceClass/InteLinkClass/InterLinkClass/Web References/DbApi/DataAccess.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://dbapi.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://dbapi.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://dbapi.org/">
      <s:element name="GetFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileLocation" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFileResult" type="tns:SearchResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SearchResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="StatusCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusDesc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Files" type="tns:ArrayOfFile" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfFile">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="File" nillable="true" type="tns:File" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="File">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FileBytes" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:element name="PostSMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sms" type="tns:SMS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SMS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VendorTranId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mask" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sent" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sender" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Reference" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PostSMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostSMSResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Result">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="RowsAffected" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusDesc" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ExecuteDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="server" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="catalog" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="procedure" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parameters" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="ExecuteDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExecuteDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteNonQuery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="server" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="catalog" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="procedure" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parameters" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteNonQueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExecuteNonQueryResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetFileSoapIn">
    <wsdl:part name="parameters" element="tns:GetFile" />
  </wsdl:message>
  <wsdl:message name="GetFileSoapOut">
    <wsdl:part name="parameters" element="tns:GetFileResponse" />
  </wsdl:message>
  <wsdl:message name="PostSMSSoapIn">
    <wsdl:part name="parameters" element="tns:PostSMS" />
  </wsdl:message>
  <wsdl:message name="PostSMSSoapOut">
    <wsdl:part name="parameters" element="tns:PostSMSResponse" />
  </wsdl:message>
  <wsdl:message name="ExecuteDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:ExecuteDataSet" />
  </wsdl:message>
  <wsdl:message name="ExecuteDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="ExecuteNonQuerySoapIn">
    <wsdl:part name="parameters" element="tns:ExecuteNonQuery" />
  </wsdl:message>
  <wsdl:message name="ExecuteNonQuerySoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteNonQueryResponse" />
  </wsdl:message>
  <wsdl:portType name="DataAccessSoap">
    <wsdl:operation name="GetFile">
      <wsdl:input message="tns:GetFileSoapIn" />
      <wsdl:output message="tns:GetFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PostSMS">
      <wsdl:input message="tns:PostSMSSoapIn" />
      <wsdl:output message="tns:PostSMSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteDataSet">
      <wsdl:input message="tns:ExecuteDataSetSoapIn" />
      <wsdl:output message="tns:ExecuteDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteNonQuery">
      <wsdl:input message="tns:ExecuteNonQuerySoapIn" />
      <wsdl:output message="tns:ExecuteNonQuerySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DataAccessSoap" type="tns:DataAccessSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFile">
      <soap:operation soapAction="http://dbapi.org/GetFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostSMS">
      <soap:operation soapAction="http://dbapi.org/PostSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteDataSet">
      <soap:operation soapAction="http://dbapi.org/ExecuteDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteNonQuery">
      <soap:operation soapAction="http://dbapi.org/ExecuteNonQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DataAccessSoap12" type="tns:DataAccessSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFile">
      <soap12:operation soapAction="http://dbapi.org/GetFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostSMS">
      <soap12:operation soapAction="http://dbapi.org/PostSMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteDataSet">
      <soap12:operation soapAction="http://dbapi.org/ExecuteDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteNonQuery">
      <soap12:operation soapAction="http://dbapi.org/ExecuteNonQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataAccess">
    <wsdl:port name="DataAccessSoap" binding="tns:DataAccessSoap">
      <soap:address location="http://192.168.55.21:5099/LiveDataAccess/DataAccess.asmx" />
    </wsdl:port>
    <wsdl:port name="DataAccessSoap12" binding="tns:DataAccessSoap12">
      <soap12:address location="http://192.168.55.21:5099/LiveDataAccess/DataAccess.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>