application/InterfaceClass/InteLinkClass/InterLinkClass/Web References/PegPayApi/PegPayTelecomsApi.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://PegPayTelecomsApi/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://PegPayTelecomsApi/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://PegPayTelecomsApi/">
      <s:element name="PostTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="trans" type="tns:Transaction" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Transaction">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SessionId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Narration" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddendumData" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DigitalSignature" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FromTelecom" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ToTelecom" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PaymentCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VendorCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PaymentDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telecom" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerRef" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TranAmount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TranCharge" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VendorTranId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ToAccount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FromAccount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TranType" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PostTransactionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostTransactionResult" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Response">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="VendorTranId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TelecomId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PegPayId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetTransactionDetailsAndStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VendorCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="vendorTranId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTransactionDetailsAndStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTransactionDetailsAndStatusResult" type="tns:TranDetailResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TranDetailResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PegpayId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RecordDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VendorTranId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TranAmount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PaymentDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VendorCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TelecomPosted" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TelecomID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ValidatePhoneNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VendorCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="signature" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IpAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidatePhoneNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidatePhoneNumberResult" type="tns:TelephoneNumberDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TelephoneNumberDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Network" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telephonenumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IsRegistered" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusDescription" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetTransactionReversalStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VendorCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="vendorTranId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTransactionReversalStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTransactionReversalStatusResult" type="tns:TranDetailResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTransactionDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VendorCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="vendorTranId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTransactionDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTransactionDetailsResult" type="tns:TranDetailResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountBalance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VendorCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountBalanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAccountBalanceResult" type="tns:AccountBalanceResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AccountBalanceResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Balance" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusDesc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreditAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VendorCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Account" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Amount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Network" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VendorTranId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreditAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreditAccountResult" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPegPayCharge">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VendorCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPegPayChargeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetPegPayChargeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PostTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:PostTransaction" />
  </wsdl:message>
  <wsdl:message name="PostTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:PostTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="GetTransactionDetailsAndStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetTransactionDetailsAndStatus" />
  </wsdl:message>
  <wsdl:message name="GetTransactionDetailsAndStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetTransactionDetailsAndStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ValidatePhoneNumberSoapIn">
    <wsdl:part name="parameters" element="tns:ValidatePhoneNumber" />
  </wsdl:message>
  <wsdl:message name="ValidatePhoneNumberSoapOut">
    <wsdl:part name="parameters" element="tns:ValidatePhoneNumberResponse" />
  </wsdl:message>
  <wsdl:message name="GetTransactionReversalStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetTransactionReversalStatus" />
  </wsdl:message>
  <wsdl:message name="GetTransactionReversalStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetTransactionReversalStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetTransactionDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetTransactionDetails" />
  </wsdl:message>
  <wsdl:message name="GetTransactionDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetTransactionDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAccountBalanceSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccountBalance" />
  </wsdl:message>
  <wsdl:message name="GetAccountBalanceSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccountBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="CreditAccountSoapIn">
    <wsdl:part name="parameters" element="tns:CreditAccount" />
  </wsdl:message>
  <wsdl:message name="CreditAccountSoapOut">
    <wsdl:part name="parameters" element="tns:CreditAccountResponse" />
  </wsdl:message>
  <wsdl:message name="GetPegPayChargeSoapIn">
    <wsdl:part name="parameters" element="tns:GetPegPayCharge" />
  </wsdl:message>
  <wsdl:message name="GetPegPayChargeSoapOut">
    <wsdl:part name="parameters" element="tns:GetPegPayChargeResponse" />
  </wsdl:message>
  <wsdl:portType name="PegPayTelecomsApiSoap">
    <wsdl:operation name="PostTransaction">
      <wsdl:input message="tns:PostTransactionSoapIn" />
      <wsdl:output message="tns:PostTransactionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTransactionDetailsAndStatus">
      <wsdl:input message="tns:GetTransactionDetailsAndStatusSoapIn" />
      <wsdl:output message="tns:GetTransactionDetailsAndStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidatePhoneNumber">
      <wsdl:input message="tns:ValidatePhoneNumberSoapIn" />
      <wsdl:output message="tns:ValidatePhoneNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTransactionReversalStatus">
      <wsdl:input message="tns:GetTransactionReversalStatusSoapIn" />
      <wsdl:output message="tns:GetTransactionReversalStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTransactionDetails">
      <wsdl:input message="tns:GetTransactionDetailsSoapIn" />
      <wsdl:output message="tns:GetTransactionDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountBalance">
      <wsdl:input message="tns:GetAccountBalanceSoapIn" />
      <wsdl:output message="tns:GetAccountBalanceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreditAccount">
      <wsdl:input message="tns:CreditAccountSoapIn" />
      <wsdl:output message="tns:CreditAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPegPayCharge">
      <wsdl:input message="tns:GetPegPayChargeSoapIn" />
      <wsdl:output message="tns:GetPegPayChargeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PegPayTelecomsApiSoap" type="tns:PegPayTelecomsApiSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PostTransaction">
      <soap:operation soapAction="http://PegPayTelecomsApi/PostTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionDetailsAndStatus">
      <soap:operation soapAction="http://PegPayTelecomsApi/GetTransactionDetailsAndStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidatePhoneNumber">
      <soap:operation soapAction="http://PegPayTelecomsApi/ValidatePhoneNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionReversalStatus">
      <soap:operation soapAction="http://PegPayTelecomsApi/GetTransactionReversalStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionDetails">
      <soap:operation soapAction="http://PegPayTelecomsApi/GetTransactionDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountBalance">
      <soap:operation soapAction="http://PegPayTelecomsApi/GetAccountBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreditAccount">
      <soap:operation soapAction="http://PegPayTelecomsApi/CreditAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPegPayCharge">
      <soap:operation soapAction="http://PegPayTelecomsApi/GetPegPayCharge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PegPayTelecomsApiSoap12" type="tns:PegPayTelecomsApiSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PostTransaction">
      <soap12:operation soapAction="http://PegPayTelecomsApi/PostTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionDetailsAndStatus">
      <soap12:operation soapAction="http://PegPayTelecomsApi/GetTransactionDetailsAndStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidatePhoneNumber">
      <soap12:operation soapAction="http://PegPayTelecomsApi/ValidatePhoneNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionReversalStatus">
      <soap12:operation soapAction="http://PegPayTelecomsApi/GetTransactionReversalStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionDetails">
      <soap12:operation soapAction="http://PegPayTelecomsApi/GetTransactionDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountBalance">
      <soap12:operation soapAction="http://PegPayTelecomsApi/GetAccountBalance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreditAccount">
      <soap12:operation soapAction="http://PegPayTelecomsApi/CreditAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPegPayCharge">
      <soap12:operation soapAction="http://PegPayTelecomsApi/GetPegPayCharge" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PegPayTelecomsApi">
    <wsdl:port name="PegPayTelecomsApiSoap" binding="tns:PegPayTelecomsApiSoap">
      <soap:address location="http://localhost:5099/LiveLevel2PegpayTelecomsApi/PegPayTelecomsApi.asmx" />
    </wsdl:port>
    <wsdl:port name="PegPayTelecomsApiSoap12" binding="tns:PegPayTelecomsApiSoap12">
      <soap12:address location="http://localhost:5099/LiveLevel2PegpayTelecomsApi/PegPayTelecomsApi.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>